@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Spectral:wght@300&display=swap');

#typein {
    font-family: 'Spectral', serif;
    border-top: 1px dotted grey;
    padding-top: 10px;
}

#reply {
    font-family: 'Beth Ellen', cursive;
    font-size: 24px;
}