@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;1,300&display=swap');

#submit {
    margin-top: 10px;
    max-width: 150px;
    align-self: center;
}

#reginvite, #conditional {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    border-top: 1px dotted grey;
    padding-top: 10px;
}

#reg_form {
    display: inline-flex;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
}