@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Crimson+Pro:wght@800&display=swap');

#greeting {
    font-family: 'Calistoga', cursive;
    font-size: 40px;
}

#clock {
    font-family: 'Crimson Pro', serif;
}

