
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Mali:wght@300&display=swap');

#stroke {
    font-family: 'Mali', cursive;
    font-weight: bold;
    border-top: 1px dotted grey;
    padding-top: 10px;
}

#spam {
    font-family: 'Courier Prime', monospace;
}