.app {
  text-align: center;
  background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
}

input {
  margin: 5px;
  max-width: 5o0px;
}
